* {
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
/*html1*/
/*html1_C1*/

#html1{
    background:rgb(15, 5, 110);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#html1 .html_C1 .image_C1{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 15px;
}  
.image_C1 img {
    width: 100%;
    height: auto;
}

#html1 .html_C1 .text_C1 {
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

/*html_C2*/
.text_Cour .fa-sharp{
  margin-top: 5px;
}
li{
    list-style: none;
}
.text_C2 a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Pacifico', cursive;
}

.text_C2 a:hover{
    color:orange;
}

.menu1 .text2_C2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 130px;
    text-decoration: none;
    background-color:rgba(0, 238, 255, 0.726);
    color: black;
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.menu1 .text2_C2 i{
    margin-top: 8px;
}

.menu1 .text2_C2:hover,
.menu2 .text2_C2:hover{
    scale:1.05;
    color:rgb(248, 248, 248);
}
.menu1 .text2_C2:active{
    scale: 0.95;
}

.html_C2{
    width: 100%;
    position: relative;
    padding: 0 2rem;
}

.menu1{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 60px;
    margin-top: 60px;
}

.menu1 .text_C2{
    display: flex;
    gap:2rem;
    text-align: center;
}
.menu1 .Bars{
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    color: #fff;
}

.menu2{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.801);    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu2.open{
    height: 280px;
}
.menu2 li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu2 .text2_C2{
    width: 80%;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color:rgba(0, 238, 255, 0.726);
    color: black;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;

}
.menu2 .text2_C2 i{
    margin-top: 7px;
}
@media(max-width: 735px){
    .menu1 .text_C2,
    .menu1 .text2_C2{
        display: none;
    }
    .menu1 .Bars{
        display: block;
    }
    .menu2{
        display: block;
    }

}
@media(max-width: 735px){
    .menu2{
        left: -6.9rem;
        width: unset;
        margin-top: 35px;
    }

}

/*html2*/

#html2 .text_h2_C2{
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
}
#html2 .Cours_C2{
    margin: 20px;
    background: rgba(128, 128, 128, 0.164);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}
#html2 .Cours_C2 .Cour{
    margin: 10px;
}
#html2 .Cours_C2 .Cour  h2{
    font-family: 'Instrument Serif', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#html2 .Cours_C2 .Cour .text_Cour div{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Kanit', sans-serif;
}
#html2 .Cours_C2 .Cour .pdf_Cour{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}
#html2 .Cours_C2 .Cour .pdf_Cour a{
    display: flex;
    justify-content: left;
    gap:15px;
    margin-left: 15px;
    text-decoration: none;
    color: rgb(3, 1, 124);
}
#html2 .Cours_C2 .Cour .pdf_Cour a:hover{
  opacity: 1;
  text-decoration: underline;
}
#html2 .Cours_C2 .Cour .pdf_Cour i{
    margin-top: 17px;
}
#html2 .Cours_C2 .Cour .pdf_Cour p{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Pacifico', cursive;
}

footer{
    background: #140B5C;
    width: 100%;
    font-family: "Poppins" , sans-serif;
  }
  
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 20px ;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 98px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
    
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 12px;
    display: flex;
    justify-content: center;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }