
* {
    margin: 0;
    padding: 0;
}

div{
    display: block;
}
/*html1*/

#html1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#html1 .html_C1 .image_C1{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 15px;
}  
.image_C1 img {
    width: 100%;
    height: auto;
}
#html1 .html_C1 .text_C1 {
    text-align: center;
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
#html1 .html_C2 p{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
}
#html1 .html_C3 {
    margin-top: 15px;
    margin-right: 6px;
    font-size: 40px;
    cursor: pointer;
}

/*html2*/
#html2 .html2_C .fa-solid {
  margin-top: 50px;
  margin-left: 169px;
}
#html2{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
#html2 a{
    text-decoration: none;
}

#html2 .html2_C{
    display: flex;
    justify-content: space-between;
    background: #000000;
    color: white;
    width: 370px;
    height: 140px;
    border-radius: 10px;
    border: 2px solid greenyellow;
    margin: 10px;
}
#html2 .html2_C:hover{
    background-color: goldenrod;
    color:rgb(252, 252, 252);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
#html2 .html2_C .text_C{
    font-family: 'Kanit', sans-serif;
    margin-left: 10px;
}
#html2 .html2_C .image_C{
    width: 170px;
}
.image_C img {
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0 ;
}

/*html3*/

#html3{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
}
#html3 .html3_C1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.html3_C1 .image_C3 {
    height: 100px;
    width: 100px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
  }
.image_C3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
.html3_C1 h2 {
    font-family: 'Instrument Serif', serif;
    font-size: 22px;
    font-weight: 600;
  }
.html3_C1 p {
    margin-top: 1px;
    font-size: 18px;
    text-align: center;
    font-family: 'Pacifico', cursive;
  }

  footer{
    width: 100%;
    font-family: "Poppins" , sans-serif;
  }
  
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 20px ;
  }
  footer .content .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }

    
  footer .bottom-details{
    width: 100%;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 12px;
    display: flex;
    justify-content: center;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 900;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
 